*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    direction: rtl;
}
body{
    font-family: 'Tajawal';
    width: 100%;
   
    }
@font-face {
    font-family: 'Tajawal';
    src: url("../fonts/Tajawal-Regular.ttf");
}
#menu{
    display: none;
    
}

nav{
    background-color: #f9fafc;
    color: #455570;
    
}
nav div{
    display: flex;
    justify-content: center;
}
nav div a{
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    border-right: 1px solid #e5e9f2;
}
nav div a:first-child{
    font-weight: 600;
    border-right: none;
}
nav div a:last-child{
    font-weight: 600;
}
.svgs a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.svg{
    margin: 0 7px;
}
.language{
   display: flex; 
   align-items: center;
   
   
}
.language p{
    padding: 0 8px;
}
nav div a span{
    padding: 10px;
}
.logo{
    
    display: flex;
    align-items: center;
}
.header-bottom{
    display: flex;
    justify-content: center;
    
    
    padding: 10px 90px;
    
}
.header-bottom div:first-child{
display: flex;
width: 100%;


}
.header-bottom img{
    display: block;
    
   
}
.search-div{
    
    margin: 15px;
    
    display: inline-flex;
    height: 100%;
    font-size: 25px;
}
.search-div input{
    width: 57em;
    border: none;
    background-color: #eff2f7;
    padding: 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}
.search-div button{
    border: none;
    background-color: #eff2f7;
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.fa-shopping-cart{
    border-radius: 50px;
    margin-right: 35px;
    padding: 10px;
    background-color: #eff2f7;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
    
}
.logoResponsive{
    display: none;
}
.uperfoter{
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #333333;
    color: #eff2f7;
}
.uperfoter h4{
    padding: 8px;
    border-bottom: 1px solid #444;
}

.cotact-icons a{
    color: inherit;
    text-decoration: none;

}

.fonts{
    width: 100%;
}
.fonts h4, .fonts div{
    width: 22%;
}
.down{
    width: 100%;
    background-color: #e6e6e6;
}
.down-footer{
    
    display: flex;
    justify-content: space-between;
    padding: 45px;
    width: 90%;
    margin-right: auto;
}
footer form{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    background-color: #484848;
    border-radius: 5px;
    
}
footer form input{
width: 100%;
padding: 10px;
border-radius: 5px;
border:none;
font-family: 'Tajawal';
}
footer form button{
    font-family: 'Tajawal';
    margin: 5px 0;
    margin-right: auto;
    padding: 10px;
    font-size: 18px;
    border:none;
    border-radius: 5px;
}
footer form{
    position: relative;
}
 footer form .fa-lock{
    color: #484848;
    opacity: 0.5;
    position: absolute;
    font-size: 23px;
    left: 20px;
    top: 20px;
}


/* Slider */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: auto;
}



.slider {
    display: none;
    text-align: center;
}

.slider img {
    width: 90%;
    height: 60vh;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    top: 20;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.sliderArrow {
    font-size: 60px !important;
}

.active {
    background-color: #717171;
}
.cateDiv{
    width: 85%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.cateDiv a{
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 25px 45px;
    text-align: center;
}

/* End Slider */
.categoriesSec{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.categoriesSec aside{
    width: 23%;
}
.categoriesSecIndex{
    margin: 50px;
}
.categoriesSecIndex .bookCard-v1{
    width: 95%;
    margin: auto;
}
aside .bookLinks a{
    text-decoration: none;
    color: blue;
    
    
}
.categories-name h1{
    color: #285c15;
    border: 1px solid #285c15;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

aside .resultDeatails .results{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #285c15;
    color: #edf6ff;
    padding: 6px;
}
aside .resultDeatails .bookDetails{
    background-color: #edf6ff;
    color: #999999;
    padding: 6px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
aside .resultDeatails .bookDetails span{
   display: block;
}
aside .prograssDetails{
    display: flex;
    padding-top: 20px;
    align-items: center;
    width: 90%;
}
aside .prograssDetails button{
    height: 15px;
    width: 15px;
    background-color: red;
    border: none;
}
aside .prograssDetails div{
    width: 100%;
    height: 10px;
    background-color: #999999;
}
aside .priceDetaile{
    display: flex;
    width: 100%;
   padding: 5px 20px;
   color: #999999;
    justify-content: space-between;
}
.productImgs{
    justify-content: center;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
 
}
.productImgscate{
    width: 77%;
}
.productImgs .storBy{
   margin-right: auto;
   width: 100%;
}
.storBy select{
   width:  150px;
   font-family: 'Tajawal';
}
.storByDiv{
    display: flex;
    justify-content: end;
}
.booksimgs{
    display: flex;
    flex-wrap: wrap;
    
    
    
}
.bookRow1{
    
    display: flex;
   width: 90%;
    
    margin: auto;
    
    
}
.bookRow1 .bookCard-v1{
    
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    width: 220px;
    margin: 5px;
    
    
}
.bookCard-v1 h3{
    display: flex;
    justify-content: center;
}
.offer{
    color: red;
}
.bookCard-v1 .searchCheck{
 width: 100%;   
}
.bookCard-v1 .cost{
    color: red;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top:20px;
}
.bookCard-v1 .taxDetails{
    color: #ccc;
    font-size: 10px;
    
}
.bookCard-v1 .otherCopies span:last-child{
color: blue;
font-weight: 600;
}
.bookCard-v1 .bookRefer{
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px;

}

.bookRefer .bookReferFont{
    padding: 10px;
    border-radius: 50%;
    background-color: red;
}
.bookRefer .fa{
    font-size: 25px;
    color: white;
}
.yellow-star{
    color: #f4c828;
    
}
.gray-star{
    color: #d3dce6;
}
.bookCateFooter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.bookCateFooter button{
    width: 75.5%;
    background-color: blue;
    color:white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-family: 'Tajawal';
}
.bookCateFooterIndex button{
    width: 100%;
}
.bookCateFooterIndex h4{
    width: 100% !important;
}
.bookCateFooterIndex div
{width: 100% !important;}
.bookCateFooter h4{
     
    width: 75%;
    padding: 10px 0;
    color: #285c15;
}
.bookCateFooter div{
    background-color: #f1f1f1;
    width: 77%;
    height: 10px;
    margin-top:  10px;
}
.fa-close{
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 100px;
    color: white;
}
.fa-close:hover{
    color: gray;
}
.counterChild{
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.SmHd{
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#counter{
    position: absolute;
    bottom: 0;
   right: 0;
    z-index: 5;
    color: black;
    font-size: 15px;
    width: 100%;
    
    
}
.counterChild button{
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
    border: none;
    
}

.bookSliderContainer{
    display: none;
    overflow: hidden;
    width: 500px;
    align-items: center;
    margin: auto;
    font-size: 50px;
    color: red;
    position: relative;
}
.bookSlider{
    transition: 0.8s;
    text-align: center;
    
    display: flex;
    margin: auto;
}
#imgmodel{
   
    height: 500px;
    width: 500px;
}
#imgmode2{
    height: 500px;
    width: 500px;
}
.image2{
    display: none;
}
#left {
    position: absolute;
    left: 0;
    z-index: 1;
}
#right{
    position: absolute;
    right: 0;
    z-index: 1;
}
#closing{
    
    color: red;
    top: 80%;
   left: 40%;
    font-size: 100px;
    
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
#login{
    cursor: pointer;
}
.CSSgal{
   margin: 5% auto;
}

@media only screen and (max-width: 800px){

   
.categoriesSec aside{
    display: none !important;
}
#menu{display: inline;
position: absolute;
right: 50px;
top: 30px;}
nav{
    display: none;
}
.container{
    width: 100vw;
}
.search-div{
    margin-right: 60%;

}
.search-div input{
    width: 10em;
}
.logo{
    display: none !important;
}
.logoResponsive{
    display: flex;
    justify-content: center;
}

.bookCard-v1{
    width: 100% !important;
    
    
}
.bookRow1{
    overflow-x: scroll;
    width: 100vw;
}
.cateDiv{
    overflow-x: scroll;
    width: 115vw;
}
.categoriesSec{
    width: 100%;
}
footer{
    width: 115vw !important;
}
}